/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#bkgr_0_0 {
    -fx-background-color: linear-gradient(to right, #d8b8ff, #87ceeb);
}

#bkgr_0_1 {
    -fx-background-color: linear-gradient(to right, #87ceeb, #d8b8ff);
}

.button {
    -fx-background-radius: 20px;
    -fx-padding: 5px;
    -fx-background-color: linear-gradient(to right, #d8b8ff, #87ceeb);
}


.button:hover{
    -fx-background-color: #0af4b6;
    -fx-text-fill:black;
}
.button:focused{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 5,0,0,0);
    -fx-background-color:#FFFFFF;
    -fx-text-fill: #2596be;
}

#btn_Dashboard,
#btn_Product,
#btn_Employee,
#btn_Customer,
#btn_Bill,
#btn_Exit{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 0 0 0 70px;
    -fx-border-color: #ffffff; /* Màu sắc của đường viền */
    -fx-border-width: 1px; /* Độ dày của đường viền */
    -fx-text-fill: black; /* Chữ màu xám */
        -fx-background-color: transparent; /* Nền trong suốt */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 1,0,0,0);
}

#btn_Dashboard:hover,
#btn_Product:hover,
#btn_Employee:hover,
#btn_Customer:hover,
#btn_Bill:hover,
#btn_Exit:hover{
    -fx-background-color:#FFFFFF;
    -fx-text-fill: #2596be;
}

#btn_Switch{
    -fx-background-color: linear-gradient(to right, #0bf3b0, #e6a856);
}

#newEmpInfo{
    -fx-border-width: 0.5px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
}

#btnSaveNewEmp{
    -fx-background-color: #7ebebd;
    -fx-background-radius: 35px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 1,0,0,0);
}

#btn_SaveEmpInfo{
    -fx-background-color: #37ff00;
    -fx-background-radius: 35px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 1,0,0,0);
}

#btn_DeleteEmp{
    -fx-background-color: #ff8080;
    -fx-background-radius: 35px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 1,0,0,0);
}

.tab-pane .tab {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
}

#pane_AddProd,
#pane_DeleteProd,
#pane_UpdateProd {
    -fx-border-color: lightgrey;
    -fx-border-width: 0px 1.5px 1.5px 1.5px;
    -fx-background-color: rgb(244, 244, 244);
}

#btn_SaveNewProd,
#btn_SaveProd,
#btn_DeleteProd,
#btn_Restore{
    -fx-background-color: lightgrey;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 1,0,0,0);
}